<h1>投稿詳細</h1>

<div>
  <p>ユーザー:<%= @spot.user.name %></p>

  <p>人物:<%= @spot.person %></p>

  <p>場所:<%= @spot.address %></p>

  <p>タイトル:<%= @spot.title %></p>

  <p>説明:<%= @spot.body %></p>

  <p>投稿日:<%= @spot.created_at.strftime('%Y/%m/%d') %></p>

  <% if @spot.user == current_user %>
    <%= link_to "編集", edit_spot_path(@spot.id) %>
    <%= link_to "削除", spot_path(@spot.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>
  <% if @spot.favorited_by?(current_user) %>
    <p>
      <%= link_to spot_favorite_path(@spot), method: :delete do %>
        ❤︎<%= @spot.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to spot_favorite_path(@spot), method: :post do %>
        ❤<%= @spot.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<div>
  <p>コメント件数:<%= @spot.post_comments.count %></p>
  <% @spot.post_comments.each do |post_comment| %>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", spot_post_comment_path(post_comment.spot, post_comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@spot, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメント" %>
    <%= f.submit "送信" %>
  <% end %>
</div>