<h1>投稿詳細</h1>

<h2>人物</h2>
<p><%= @spot.person %></p>

<h2>タイトル</h2>
<p><%= @spot.title %></p>

<h2>本文</h2>
<p><%= @spot.body %></p>

<%= link_to "編集", edit_spot_path(@spot.id) %>
<%= link_to "削除", spot_path(@spot.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>