<h1>ユーザー詳細</h1>

<div>
    <h3><%= @user.name %></h3>
    <h3><%= @user.introduction %></h3>
    <% if @user == current_user %>
      <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
    <% end %>
</div>

<% @spots.each do |spot| %>

<div>
    <p>人物:<%= spot.person %></p>
    
    <p>場所:<%= spot.address %></p>
    
    <p>タイトル:<%= link_to spot.title, spot_path(spot.id) %></p>
    
    <p><%= link_to "#{spot.post_comments.count} コメント", spot_path(spot.id) %></p>
</div>

<% end %>

<%= paginate @spots %>