<head></head>
<body>
  
<header></header>
  
  <main>
    <p id="notice"></p>
    <div class="d-flex justify-content-center mb-2">
      <%= render "public/shared/search" %>
    </div>

    <div class="album py-5 bg-body-tertiary">
      <div class="container">
  
      <div class="row-mb-2">
      <% @spots.each do |spot| %>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis"><%= image_tag spot.user.get_profile_image(100,100), class:"rounded-circle mx-auto" %><%= spot.user.name %></strong>
              <h3 class="mb-0"><%= link_to spot.title, spot_path(spot.id) %></h3>
              <div class="mb-1 text-body-secondary">
                【<%= spot.person %>】
                <p>場所:<%= spot.address %></p>
              </div>
            </div>
            <div class="col-auto d-none d-lg-block">
              <%= link_to spot_path(spot.id) do %>
                <%= image_tag spot.get_image, class: "img-fluid", size: "180x150" %>
              <% end %>
            </div>
          </div>
            <p><%= link_to "#{spot.post_comments.count} コメント", spot_path(spot.id) %></p>
            <p><%= link_to "#{spot.favorites.count} いいね", spot_path(spot.id) %></p>
        </div>
      </div>
      <% end %>

      <%= paginate @spots %>
      </div>
    </div>
    
  </main>
</body>