<head></head>
<body>
  
<header></header>
  
  <main>
    <p id="notice"></p>
    <div class="container">
      <div class="col-md-4 offset-md-4">
        <h2 class="text-center pt-5">新規投稿</h2>
        
        <% if @spot.errors.any? %>
          <%= @spot.errors.count %>件のエラーが発生しました
          <ul>
            <% @spot.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_with model: @spot, url: '/spots', method: :post do |f| %>
        
       　　<div class="form_group pt-4 pb-3">
            <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
          </div>

          <div class="form_group pt-4 pb-3">
            <%= f.text_field :person, placeholder: "Who?", class: "form-control" %>
          </div>
          
          <div class="form_group pt-4 pb-3">
            <%= f.text_field :address, placeholder: "Address", class: "form-control" %>
          </div>
          
          <div class="form-group pt-4 pb-3">
            <%= f.collection_select :category_id, Category.all, :id, :name, { include_blank: "--時代カテゴリー--" }, { class: "form-control" } %>
          </div>
          
          <div class="form-group">
            <%= f.file_field :image, accept: "image/*" %>
          </div>
          
          <div class="form-group" >
            <%= f.text_area :body, placeholder: "memo", rows: 5, class: "form-control" %>
        　</div>

          <div class ="d-flex justify-content-between align-items-center">
　　      <div class="btn-group">
　　        <span>
              <%= f.submit "Post", class: 'btn btn-outline-primary' %>
              <button type="button" class="btn btn-outline-dark">
                <%= link_to "Back", spots_path %>
              </button>
            </span>
　　      </div>
　　    </div>
  
        <% end %>
        
      </div>
    </div>
  </main> 
</body>