
    
    <%= form_with(model: category, url: url) do |f| %>
      <% if category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
    
          <ul>
            <% category.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="form_group pt-4 pb-3">
        <%= f.text_field :name, placeholder: "Category", class: "form-control" %>
      </div>
    
        <div class ="d-flex justify-content-between align-items-center">
　　      <div class="btn-group">
　　        <span>
              <%= f.submit class: 'btn btn-outline-primary' %>
              <button type="button" class="btn btn-outline-dark">
                <%= link_to "Back", admin_categories_path %>
              </button>
            </span>
          </div>
        </div>
    <% end %>
  